<html>
<head>
	<title><% @title %> </title>
</head>
<table class="front">
<tr>
<td class="main">
<h2 class="house">What's up?</h2>
<%= render 'display/house_form' %> 
<%= render 'display/feed' %>
<p>Find me in app/views/display/home.html.erb</p>