<html>
<head>
	<title><% @title %> </title>
</head>
<div class="main">
	<% if (!current_user.nil?) %>
<h2 class="house">Post Available House Details</h2>
<%= render 'display/house_form' %> 
<%= render 'display/feed' %>
<%= render 'display/booker_list' %>
<% else %>
<p>Please Log in to view and book houses</p>
<% end %>